@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {

    --background: 0 0% 100%;

    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;

    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;

    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;

    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;

    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;

    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;

    --input: 0 0% 89.8%;

    --ring: 0 0% 3.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem;



  }
  .dark {

    --background: 0 0% 3.9%;

    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;

    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;

    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;

    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;

    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;

    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;

    --input: 0 0% 14.9%;

    --ring: 0 0% 83.1%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;


  }
}

 /* red  */
.theme-red {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 72.2% 50.6%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --primary-hue: 220; /* Example hue */
    --primary-saturation: 80%; /* Example saturation */
    --primary-lightness: 50%; /* Example lightness */
  }

  .theme-red.dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 72.2% 50.6%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --primary-hue: 220; /* Example hue */
    --primary-saturation: 80%; /* Example saturation */
    --primary-lightness: 50%; /* Example lightness */
  }

  /* orange  */

 .theme-orange {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --primary-hue: 220; /* Example hue */
    --primary-saturation: 80%; /* Example saturation */
    --primary-lightness: 50%; /* Example lightness */
  }

  .theme-orange.dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 20.5 90.2% 48.2%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 20.5 90.2% 48.2%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --primary-hue: 220; /* Example hue */
    --primary-saturation: 80%; /* Example saturation */
    --primary-lightness: 50%; /* Example lightness */
  }

  /* yellow */

.theme-yellow {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 26 83.3% 14.1%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --primary-hue: 220; /* Example hue */
    --primary-saturation: 80%; /* Example saturation */
    --primary-lightness: 50%; /* Example lightness */
  }

  .theme-yellow.dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 26 83.3% 14.1%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 35.5 91.7% 32.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --primary-hue: 220; /* Example hue */
    --primary-saturation: 80%; /* Example saturation */
    --primary-lightness: 50%; /* Example lightness */
  }

/* green */
  .theme-green {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --primary-hue: 220; /* Example hue */
    --primary-saturation: 80%; /* Example saturation */
    --primary-lightness: 50%; /* Example lightness */
  }

  .theme-green.dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --primary-hue: 220; /* Example hue */
    --primary-saturation: 80%; /* Example saturation */
    --primary-lightness: 50%; /* Example lightness */
  }

  /* blue */

 .theme-blue {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --primary-hue: 220; /* Example hue */
    --primary-saturation: 80%; /* Example saturation */
    --primary-lightness: 50%; /* Example lightness */
  }

  .theme-blue.dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --primary-hue: 220; /* Example hue */
    --primary-saturation: 80%; /* Example saturation */
    --primary-lightness: 50%; /* Example lightness */
  }

  /* violet */

  .theme-violet {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --primary-hue: 220; /* Example hue */
    --primary-saturation: 80%; /* Example saturation */
    --primary-lightness: 50%; /* Example lightness */
  }

  .theme-violet.dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --primary-hue: 220; /* Example hue */
    --primary-saturation: 80%; /* Example saturation */
    --primary-lightness: 50%; /* Example lightness */
  }


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.game {
  text-align: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;
}

.card-container {
  perspective: 1000px; /* Enables 3D effect */
  display: inline-block;
  margin: 10px;
}

.card {
  width: 80px;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.card.flipped {
  transform: rotateY(180deg); /* Flip effect */
}

.card-front,

.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
  backface-visibility: hidden; /* Ensures one side is always hidden */
}

/* Front of the card (revealed when flipped) */
.card-front {
  /* background-color: #fff; */
  /* border: 2px solid black; */
  transform: rotateY(180deg); /* Start hidden */
}

/* Back of the card (initially visible) */
.card-back {
  /* background-color: #ccc; */
  transform: rotateY(0deg);
}

/* When flipped, show the front and hide the back */
.card.flipped .card-front {
  backface-visibility: visible;
}

.card.flipped .card-back {
  backface-visibility: hidden;
}

.win-message {
  margin-top: 20px;
  font-size: 20px;
  color: green;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out; /* Adjust duration and timing as needed */
}

/* card deck */
.card-deck-none {
  background-color: hsl(var(--primary));
  opacity: 0.8;
}

.card-deck-wavy {
  background-color: hsl(var(--primary));
  opacity: 0.8;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 10px ), repeating-linear-gradient( hsl(var(--primary)), hsl(var(--primary)) ); /* Replace var(--background) with a fallback color */
}

.card-deck-rhombus {
  background-color: hsl(var(--primary));
  opacity: 0.8;
  background-image:  linear-gradient(135deg, hsl(var(--primary)) 25%, transparent 25%), linear-gradient(225deg, hsl(var(--primary)) 25%, transparent 25%), linear-gradient(45deg, hsl(var(--primary)) 25%, transparent 25%), linear-gradient(315deg, hsl(var(--primary)) 25%, hsl(var(--foreground)) 25%);
  background-position:  10px 0, 10px 0, 0 0, 0 0;
  background-size: 10px 10px;
  background-repeat: repeat;
}

.card-deck-zigzag3D {
  background-color: hsl(var(--primary));
  opacity: 0.8;
  background: linear-gradient(135deg, hsl(var(--foreground)) 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, hsl(var(--primary)) 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, hsl(var(--foreground)) 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, hsl(var(--primary)) 25%, #e5e5f7 25%) 0px 0/ 20px 20px;
}

.card-deck-zigzag {
  background-color: hsl(var(--primary));
  opacity: 0.8;
  background-image:  linear-gradient(135deg, hsl(var(--primary)) 25%, transparent 25%), linear-gradient(225deg, hsl(var(--primary)) 25%, transparent 25%), linear-gradient(45deg, hsl(var(--primary)) 25%, transparent 25%), linear-gradient(315deg, hsl(var(--primary)) 25%, hsl(var(--foreground)) 25%);
  background-position:  10px 0, 10px 0, 0 0, 0 0;
  background-size: 20px 20px;
  background-repeat: repeat;
}

.card-deck-moon {
  background-color: hsl(var(--primary));
  opacity: 0.8;
  background-image: radial-gradient( ellipse farthest-corner at 10px 10px , hsl(var(--primary)), hsl(var(--primary)) 50%, hsl(var(--foreground)) 50%);
  background-size: 10px 10px;
}

.card-deck-circle {
background-color: hsl(var(--primary));
opacity: 0.8;
background-image: radial-gradient(circle at center center, hsl(var(--foreground)), #e5e5f7), repeating-radial-gradient(circle at center center, hsl(var(--foreground)), hsl(var(--primary)), 10px, transparent 20px, transparent 10px);
background-blend-mode: multiply;
}


.card-deck-diagonal {
  background-color: hsl(var(--primary));
opacity: 0.8;
background: repeating-linear-gradient( 45deg, hsl(var(--primary)), hsl(var(--primary)) 5px, hsl(var(--foreground)) 5px, hsl(var(--foreground)) 25px );
}

.card-deck-diagonal-reverse {
  background-color: hsl(var(--primary));
  opacity: 0.8;
  background: repeating-linear-gradient( -45deg, hsl(var(--primary)), hsl(var(--primary)) 5px, hsl(var(--foreground)) 5px, hsl(var(--foreground)) 25px );
}

.card-deck-paper {
  background-color: hsl(var(--primary));
opacity: 0.8;
background-image:  linear-gradient(hsl(var(--primary)) 2px, transparent 2px), linear-gradient(90deg, hsl(var(--primary)) 2px, transparent 2px), linear-gradient(hsl(var(--primary)) 1px, transparent 1px), linear-gradient(90deg, hsl(var(--primary)) 1px, hsl(var(--foreground)) 1px);
background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.card-deck-horizontal-lines {
  background-color: hsl(var(--primary));
  opacity: 0.8;
  background-image: linear-gradient(0deg, hsl(var(--primary)) 50%, hsl(var(--foreground)) 50%);
  background-size: 10px 10px;
}

.card-deck-vertical-lines {
  background-color: hsl(var(--primary));
  opacity: 0.8;
  background-image: linear-gradient(90deg, hsl(var(--primary)) 50%, hsl(var(--foreground)) 50%);
  background-size: 10px 10px;
}

.card-deck-diagonal-v3 {
  background-color: hsl(var(--primary));
opacity: 0.8;
background-size: 10px 10px;
background-image: repeating-linear-gradient(45deg, hsl(var(--primary)) 0, hsl(var(--primary)) 1px, hsl(var(--foreground)) 0, hsl(var(--foreground)) 50%);
}

.card-deck-boxes {  
background-color: hsl(var(--primary));
opacity: 0.8;
background-image:  linear-gradient(hsl(var(--primary)) 1px, transparent 1px), linear-gradient(to right, hsl(var(--primary)) 1px, hsl(var(--foreground)) 1px);
background-size: 20px 20px;
}

.card-deck-checkers {
  background-color: hsl(var(--primary));
opacity: 0.8;
background-image:  repeating-linear-gradient(45deg, hsl(var(--primary)) 25%, transparent 25%, transparent 75%, hsl(var(--primary)) 75%, hsl(var(--primary))), repeating-linear-gradient(45deg, hsl(var(--primary)) 25%, hsl(var(--foreground)) 25%, hsl(var(--foreground)) 75%, hsl(var(--primary)) 75%, hsl(var(--primary)));
background-position: 0 0, 10px 10px;
background-size: 20px 20px;
}

.card-deck-cross {
  background-color: hsl(var(--foreground));
  opacity: 0.8;
  background: radial-gradient(circle, transparent 20%, hsl(var(--foreground)) 20%, hsl(var(--foreground)) 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, hsl(var(--foreground)) 20%, hsl(var(--foreground)) 80%, transparent 80%, transparent) 25px 25px, linear-gradient( hsl(var(--primary)) 2px, transparent 2px) 0 -1px, linear-gradient(90deg,  hsl(var(--primary)) 2px, hsl(var(--foreground)) 2px) -1px 0;
  background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}